// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment{
    border-style: solid;
    border-width: 1px;
    background-color: white;
    width: 200px;
}
